<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Disni | Prduct details </title>
    <meta name="author" content="Disni Trophies">
    <meta name="description" content="Disni Trophies">
    <meta name="keywords" content="Disni Trophies">
    <meta name="robots" content="INDEX,FOLLOW">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--==============================
	  Google Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&amp;family=Italiana&amp;family=Montserrat:ital,wght@0,100..900;1,100..900&amp;display=swap"
        rel="stylesheet">
    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/css/magnific-popup.min.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="/css/slick.min.css">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="/css/animate.min.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="vs-body2">

    <div class="preloader">
        <div class="preloader-inner">
            <img src="/img/logo.png" style="width: 60px;" alt="logo">
            <span class="loader"></span>
        </div>
    </div>
    <!--==============================
		Mobile Menu
	============================== -->
    <div class="vs-menu-wrapper">
        <div class="vs-menu-area text-center">
            <div class="mobile-logo">
                <a href="index.html"><img src="/img/logo.png" alt="disni" style="width: 100px;" class="logo"></a>
                <button class="vs-menu-toggle"><i class="fal fa-times"></i></button>
            </div>
            <div class="vs-mobile-menu">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/shop">Shop</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- ==============================
    	Sticky Navbar
    ============================== -->
    <div id="navbars" class="header-sticky navbars">
        <div class="container custom-container">
            <div class="row justify-content-between align-items-center">
                <div class="col-xl-3 col-md-auto d-none d-lg-block col-auto">
                    <div class="menu-wrapper">
                        <div class="menu-category">

                            <div class="logo">
                                <a href="/">
                                    <img src="img/logo.png" style="width: 70px;" alt="Logo">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-auto col-md-auto col-auto">
                    <nav class="main-menu d-none d-lg-block">
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/about">About</a>
                            </li>
                            <li>
                                <a href="/shop">Shop</a>
                            </li>
                            <li>
                                <a href="/contact">Contact</a>
                            </li>
                        </ul>
                    </nav>
                    <button class="vs-menu-toggle d-inline-block d-lg-none"><i class="fal fa-bars"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- ==============================
    	Main Section Wrapper
  	============================== -->
    <main class="main">
        <!--==============================
        Header Area
    ==============================-->
        <header class="vs-header layout1">
            <!-- Main Menu Area -->
            <div class="sticky-wrapper position-relative">
                <div class="container custom-container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-xl-4 d-none d-xl-block">
                            <nav class="main-menu menu-style1 d-none d-lg-block">
                                <ul>
                                    <li>
                                        <a href="/">Home</a>
                                    </li>
                                    <li>
                                        <a href="/about">About</a>
                                    </li>
                                </ul>
                            </nav>
                            <button class="vs-menu-toggle d-inline-block d-lg-none"><i class="fal fa-bars"></i></button>
                        </div>
                        <div class="col-xl-4 col-lg-auto">
                            <div class="header-logo style3 text-center">
                                <a href="/"><img src="/img/logo.png" alt="Disni" style="width: 100px;"
                                        class="logoMain"></a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-auto">
                            <div class="d-flex justify-content-between justify-content-lg-end align-items-center gap-3">
                                <nav class="main-menu menu-style1 d-none d-lg-block text-end">
                                    <ul>

                                        <li>
                                            <a href="/shop">Shop</a>
                                        </li>
                                        <li>
                                            <a href="/contact">Contact</a>
                                        </li>
                                    </ul>
                                </nav>

                                <div class="d-lg-none">
                                    <button class="vs-menu-toggle d-inline-flex align-items-center"><i
                                            class="fal fa-bars"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom text-center">
                <img src="/img/shapes/header-bottom-shape-1.svg" alt="header bottom">
            </div>
        </header>

        <div class="breadcumb-wrapper" data-bg-src="/img/bg/trophybg3.jpg">
            <img src="/img/shapes/dot-shape.svg" alt="dot" class="breadcumb-element">
            <div class="container z-index-common">
                <div class="breadcumb-content">
                    <h1 class="breadcumb-title">products details</h1>
                    <div class="breadcumb-menu-wrap">
                        <ul class="breadcumb-menu">
                            <li><a href="/">Home</a></li>
                            <li>Shop details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Products Area -->
        <div class="vs-product-wrapper space-top space-extra-bottom z-index-common">
            <div class="extra-shape"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 mb-30">
                        <div class="product-slide-row">
                            <div class="product-thumb-slide vs-carousel" data-slide-show="4" data-md-slide-show="4"
                                data-sm-slide-show="3" data-xs-slide-show="3" data-asnavfor=".product-big-img"
                                data-vertical="true" data-sm-vertical="false" data-xs-vertical="false">
                                <!-- Optional: You can add thumbnails if you have multiple images -->
                            </div>
                            <div class="product-big-img vs-carousel" data-slide-show="1" data-fade="true"
                                data-asnavfor=".product-thumb-slide">
                                <div class="img"><img src="<%= product.imageUrl %>" alt="<%= product.name %>"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 mb-30">
                        <div class="product-about">
                            <h2 class="product-title"><%= product.name %></h2>
                            <p class="product-price">₹<%= product.price %> <span><%= product.isListed ? 'In stock' : 'Out of stock' %></span></p>
                            <div class="actions">
                                <div class="quantity">
                                    <div class="quantity__field quantity-container">
                                        <input type="number" id="quantity" class="qty-input" step="1" min="1" max="100"
                                            name="quantity" value="1" title="Qty">
                                        <div class="quantity__buttons">
                                            <button class="quantity-plus qty-btn"><i class="fa-solid fa-angle-up"></i></button>
                                            <button class="quantity-minus qty-btn"><i class="fa-solid fa-angle-down"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="vs-btn" onclick="buyNow('<%= product.name %>', '<%= product.price %>', '<%= product.description %>', '<%= product.category %>', '<%= product.height %>', '<%= product.thickness %>', document.getElementById('quantity').value)">Buy Now</button>
                            </div>
        
                            <hr class="product-divider">
                            <div class="product_meta">
                                <span>Category: <span><%= product.category %></span></span>
                                <span>Height: <span><%= product.height %> cm</span></span>
                                <span>Thickness: <span><%= product.thickness %> mm</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Product Description Tab -->
        <div class="space-bottom z-index-common">
            <div class="container">
                <div class="product-description">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                aria-selected="true">Product Details</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="desc-content">
                                <p class="desc-text"><%= product.description %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--==============================
        Product Two
      ==============================-->
        <section class="space-extra-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-auto mx-auto">
                        <div class="title-area text-center">
                            <span class="sec-subtitle"><%= product.category %></span>
                            <h2 class="sec-title text-white">top related products</h2>
                            <img src="/img/shapes/title-shape-1.svg" alt="title shape">
                        </div>
                    </div>
                </div>
                <div class="row vs-carousel" data-slide-show="4" data-lg-slide-show="3" data-md-slide-show="2">
                    <% relatedProducts.forEach(product => { %>
                        <div class="col-lg-3">
                            <div class="product-style2 version2">
                                <div class="product-img">
                                    <a href="/product-details?id=<%= product._id %>">
                                        <img class="img" src="<%= product.imageUrl %>" alt="<%= product.name %>">
                                    </a>
                                </div>
                                <h3 class="product-title">
                                    <a href="/product-details?id=<%= product._id %>"><%= product.name %></a>
                                </h3>
                                <span class="product-price">₹<%= product.price %></span>
                            </div>
                        </div>
                    <% }); %>
                </div>
                
            </div>
        </section>
      
        <footer class="footer-layout2" data-bg-src="/img/footer/footer-image-1-1.png">
            <div class="footer-widgets">
                <div class="container">
                    <div class="row gy-4 justify-content-between">
                        <div class="col-lg-3">
                            <div class="footer-logo">
                                <a href="index.html"><img src="/img/logo.png" style="width: 100px;" alt="logo"></a>
                            </div>
                            <div class="footer-info style2">
                                <p><span>Address :</span> Kunnamkulam-Guruvayoor Road Opposite Gas
                                    Crematorium,Kottapai,Guruvayoor</p>
                            </div>
                            <a href="/"><img src="/img/footer/payments.png" alt="payments"></a>
                        </div>
                        <div class="col-lg-auto">
                            <div class="footer-widget">
                                <h3 class="footer-title">Shopping</h3>
                                <div class="footer-menu2">
                                    <a href="shop.html">Gift items</a>
                                    <a href="about.html">terms & conditions</a>
                                    <a href="about.html">privacy policy</a>
                                    <a href="about.html">delivery</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-auto">
                            <div class="footer-widget">
                                <h3 class="footer-title">About Store</h3>
                                <div class="footer-menu2">
                                    <a href="about.html">Shopping</a>

                                    <a href="about.html">Privacy Policy</a>
                                    <a href="about.html">Help</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-auto">
                            <div class="footer-widget">
                                <h3 class="footer-title">Subscribe for <span>newsletter</span></h3>
                                <form class="footer-newsletter" action="#">
                                    <input type="email" placeholder="Enter your email">
                                    <button type="submit">
                                        <svg width="20" height="14" viewBox="0 0 20 14" fill="none">
                                            <path d="M12.43 0.930176L18.5 7.00018L12.43 13.0702M1.5 7.00018H18.33"
                                                stroke="#F5F1E6" stroke-width="1.5" stroke-miterlimit="10"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </button>
                                </form>
                                <h4 class="footer-title">follow</h4>
                                <div class="social-style">
                                    <a class="facebook" href="https://www.facebook.com/"><i
                                            class="fab fa-facebook-f"></i></a>
                                    <a class="instagram" href="https://www.instagram.com/"><i
                                            class="fab fa-instagram"></i></a>
                                    <a class="twitter" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                    <a class="linkedin" href="https://linkedin.com/"><i
                                            class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="footer-copyright style2">
                Copyright <i class="fal fa-copyright"></i> 2024 All rights <a href="index.html">Disni</a>.
                Developed by <a href="https://trivlogic.com/">Trivlogic</a>.
            </p>
        </footer>
        <!--==============================
        Footer Area End
    ==============================-->
    </main>
    <!-- ==============================
    	Main Section Wrapper End
  	============================== -->
    <a href="#" class="scrollToTop scroll-btn"><i class="far fa-arrow-up"></i></a>
    <!--********************************
		Code End  Here 
******************************** -->
    <!--==============================
        All Js File
    ============================== -->
    <!-- Jquery -->
    <script>
        function buyNow(name, price, description, category, height, thickness, quantity) {
            const message = `I'm interested in buying the following product:\n\nName: ${name}\nPrice: ₹${price}\nDescription: ${description}\nCategory: ${category}\nHeight: ${height} cm\nThickness: ${thickness} mm\nQuantity: ${quantity}`;
            const encodedMessage = encodeURIComponent(message);
            const phoneNumber = '918136971120'; 
            const whatsappUrl = `https://wa.me/${phoneNumber}?text=${encodedMessage}`;
            window.location.href = whatsappUrl;
        }
    </script>
    <script src="/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- Jquery UI -->
    <script src="/js/jquery-ui.min.js"></script>
    <!-- Slick Slider -->
    <script src="/js/slick.min.js"></script>
    <!-- Bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- WOW.js Animation -->
    <script src="/js/wow.min.js"></script>
    <!-- Magnific Popup -->
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <!-- Image Loaded Jquery -->
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <!-- Gsap -->
    <script src="/js/gsap.min.js"></script>
    <!-- ScrollTrigger -->
    <script src="/js/ScrollTrigger.min.js"></script>
    <!-- ScrollToPlugin -->
    <script src="/js/ScrollToPlugin.min.js"></script>
    <!-- SplitText -->
    <script src="/js/SplitText.min.js"></script>
    <!-- Lenis -->
    <script src="/js/bundled-lenis.min.js"></script>
    <!-- Main Js File -->
    <script src="/js/main.js"></script>
</body>

</html>